<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/latestimpulselogo.jpg">

    <title>Impulse'18 </title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../css/profile.css" rel="stylesheet">
  </head>

  <body>

<nav class="navbar navbar-expand-lg fixed-top">
	<a class="navbar-brand" href="#"><img src="/images/impulse-full.png" alt="logo"></a>
    <a class="btn btn-outline-danger ml-auto" href="/logout">Log Out</a>
</nav>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Profile</h1>
    </div>

    <div class="container">
        <p class="link" style="font-size:20px; text-align:center;">Register for MaitHacks on HackerEarth Page in order to complete Registration. <a href="https://www.hackerearth.com/sprints/mait-hacks-iosd-mait-impulse18/" class="register">Registration link</a></p>
      <div class="card">
    <div class="card-body">
    <h5 class="card-title">User Info</h5>
    <p class="card-text">
        <div class="row">
            <div class="col-md-6 col-sm-6 header">Name: </div>
            <div class="col-md-6 col-sm-6 info text-muted">{{name}}</div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 header">Email: </div>
            <div class="col-md-6 col-sm-6 info text-muted">{{email}}</div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 header">Github: </div>
            <div class="col-md-6 col-sm-6 info text-muted">{{github}}</div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 header">College: </div>
            <div class="col-md-6 col-sm-6 info text-muted">{{college}}</div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 header">Mobile No.: </div>
            <div class="col-md-6 col-sm-6 info text-muted">{{mobile}}</div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 header">Team Name: </div>
            <div class="col-md-6 col-sm-6 info text-muted">{{team}}</div>
        </div>
    </p>
  </div>
</div>

    </div>


  </body>
</html>
